.preview-box{
    width: 275px;
    height: 275px;
    background-color: grey;
    border-radius: 8px;
    overflow: hidden;
    display: flex;
    justify-content: center;
}

.card {
    width: 300px;
    height: 345px;
    background-color: white;
    padding-top: 25px;
    cursor: pointer;
}

.location-box{
    width: 275px;
    display: flex;
    justify-content: space-between;
    padding-top: 7px;
}
.price-box{
    padding-top: 7px;
}

img {
    max-height: 100%;
}
