.fav-empty h2 {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 100px;
    padding-bottom: 20px
}
.fav-empty div {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.please-sign-in {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 50px
}

.card-holder {
    padding-top: 35px;
}
#fav-button-box {
    width: 290px;
    display: flex;
    justify-content: space-around;
    position: relative;
    top: 10px
}
#favs-container{
    display: flex;
    justify-content: space-evenly;
    width: 100vw;
    max-width: 100%;
    flex-wrap: wrap
}
