.preview-box{
    width: 150px;
    height: 150px;
    background-color: grey;
    border-radius: 8px;
    overflow: hidden;
    display: flex;
    justify-content: center;
    border: solid lightgrey 1px;
}

.card {
    width: 700px;
    height: 220px;
    background-color: white;
    padding-top: 25px;
    cursor: pointer;
    border-radius: 8px;
    border: solid grey 1px;

}
