.cart-empty h2 {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 100px;
    padding-bottom: 20px
}
.cart-empty div {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.to-favorites {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 50px
}
.please-sign-in {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 50px
}
