.error {
    color: red;
    margin: 0px
}

.sign-up-modal {
    display: flex;
    flex-direction: column;
    padding: 10px;
    align-items: center;

}

input {
    border-radius: 5px;
    height:20px
}

.signup-form > input {
    margin-bottom: 5px;
}
